.menu-container p {
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #272727;
    cursor: pointer;
}

.center-svg path {
    fill: rgb(238, 240, 238);
}


.menu-container {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    flex: 1;
}

.menu-container p:nth-child(2),
.menu-container p:nth-child(4) {
    margin-left: -20px;
}

.menu-container p:last-child {
    width: 80px;
    background-color: red;
    border-radius: 50px;
}

/* body, html, #root {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  } */

/* .App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #2c2c2c;
  }
   */
.menu-container-right {
    display: flex;
    gap: 20px;
    /* flex-basis: 50%; */
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: relative;
    color: white;
    font-size: 24px;
}

.notification-icon {
    position: relative;
}

.notification {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #555;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
}